extends default

block content  
  div#page-wrapper
  
    include _topbar

    // Page content start
    div.page-contentbar
        
      // left navigation start
      aside.sidebar-navigation
        div.scrollbar-wrapper
          div
            button(type="button" class="button-menu-mobile btn-mobile-view visible-xs visible-sm")
              i(class="mdi mdi-close")
            // User Detail box
            include _userInfo
            
            // Left Menu Start
            include _navigation
      
      // START PAGE CONTENT
      div(id="page-right-content" style="min-height: 500px;")
        - if (messages.info)
          div(class="alert alert-icon alert-success alert-dismissible fade in" role="alert")
            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
              span(aria-hidden="true") x
            i(class="mdi mdi-check-all")
            strong Info...
            p #{messages.info}
        - if (messages.error)
          div(class="alert alert-icon alert-danger alert-dismissible fade in" role="alert")
            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
              span(aria-hidden="true") x
            i(class="mdi mdi-block-error")
            strong ¡Error!
            p #{messages.error}
        div.container            
          div.row
                  
            div.col-sm-12
              div(class="card-box widget-inline")
                div.row
                
                  div(class="col-lg-3 col-sm-6")
                    div(class="widget-inline-box text-center")
                      h3.m-t-10 #[i(class="text-primary material-icons" style="vertical-align: top;") pets] #[b(data-plugin="counterup")] #{cats}
                      p.text-muted Gatos
                  div(class="col-lg-3 col-sm-6")
                    div(class="widget-inline-box text-center")
                      h3.m-t-10 #[i(class="text-primary material-icons" style="vertical-align: top;") home] #[b(data-plugin="counterup")] #{colonies}
                      p.text-muted Colonias
                  div(class="col-lg-3 col-sm-6")
                    div(class="widget-inline-box text-center")
                      h3.m-t-10 #[i(class="text-primary material-icons" style="vertical-align: top;") description] #[b(data-plugin="counterup")] #{procesos}
                      p.text-muted Procesos de adopción
                  div(class="col-lg-3 col-sm-6")
                    div(class="widget-inline-box text-center")
                      h3.m-t-10 #[i(class="text-primary material-icons" style="vertical-align: top;") account_circle] #[b(data-plugin="counterup")] #{users}
                      p.text-muted Usuarios
          
          div.row
            div.col-lg-12
              div.card-box
                h4.m-t-0 Procesos de adopción
                - if (adopciones.length > 0)
                  div.table-responsive
                    table(class="table table-hover mails m-0 table table-actions-bar")
                      thead
                        tr
                          th(style="max-width: 20px;") ID
                          th Usuario
                          th Correo electrónico
                          th Fecha inicio
                          th Estado
                      tbody
                      each adop in adopciones
                        tr
                          td
                            a #{adop._id}
                          td #{adop.usuario.google.name || ( adop.usuario.local.name.nombre + " " + adop.usuario.local.name.apellidos )}
                          td
                            a(href="#" class="text-muted") #{ adop.usuario.local.email || adop.usuario.google.email }
                          td #{adop.fecha_inicio.getDate()} / #{adop.fecha_inicio.getMonth() + 1} / #{adop.fecha_inicio.getFullYear()}
                          td #{adop.estado}
                       
                       
        div.footer
          div
            <strong>felinorte</strong> - Copyright &copy; 2017
                        