extends default

block content
  
  div#page-wrapper
    
    include _topbar
    
    // Page content start
    div.page-contentbar
        
      // left navigation start
      aside.sidebar-navigation
        div.scrollbar-wrapper
          div
            button(type="button" class="button-menu-mobile btn-mobile-view visible-xs visible-sm")
              i(class="mdi mdi-close")
            // User Detail box
            div.user-details
              div.pull-left
                img(src="https://scontent.xx.fbcdn.net/v/t31.0-8/s960x960/17493155_1427647903947280_1316763995182102963_o.jpg?oh=2ce49976e48e991fcc90683ee9dc6270&oe=59B5DD10" alt="" class="thumb-md img-circle")
              div.user-info
                a Usuario
                p(class="text-muted m-0") Administrador
            
            // Left Menu Start
            include _navigation
    
    // START PAGE CONTENT
    div#page-right-content
      - if (messages.info)
        div(class="alert alert-icon alert-success alert-dismissible fade in" role="alert")
          button(type="button" class="close" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") x
          i(class="mdi mdi-check-all")
          strong ¡Éxito!
          p #{messages.info}
      - if (messages.error)
        div(class="alert alert-icon alert-danger alert-dismissible fade in" role="alert")
          button(type="button" class="close" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") x
          i(class="mdi mdi-block-error")
          strong ¡Error!
          p #{messages.error}
    
      div.container
        div.row
          div.col-sm-12
            h4(class="m-t-0 header-title") Usuarios registrados
        
        div.row
          each cat in cats
            div.col-md-4
              div(class="text-center card-box")
                div(class="dropdown pull-right")
                  a(href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false")
                    h3(class="m-0 text-muted") #[i(class="mdi mdi-dots-horizontal")]

                  ul(class="dropdown-menu" role="menu")
                    li #[a Ver]
                    li #[a Editar]

                div.clearfix
                  div.member-card
                    div(class="thumb-xl member-thumb m-b-10 center-block")
                      img(src="http://r.ddmcdn.com/s_f/o_1/cx_462/cy_245/cw_1349/ch_1349/w_720/APL/uploads/2015/06/caturday-shutterstock_149320799.jpg" class="img-circle img-thumbnail" alt="profile-image")

                    div
                      h4.m-b-5 #{}
                      p(class="text-muted") #{} #[span | ] #{}
                    