extends ../admin/default

block content
  
  div#page-wrapper
    
    include _topBar 
    
    // START PAGE CONTENT
    div(id="page-right-content" style="min-height: 600px;")
      - if (messages.info)
          div(class="alert alert-icon alert-success alert-dismissible fade in" role="alert")
            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
              span(aria-hidden="true") x
            i(class="mdi mdi-check-all")
            strong ¡Éxito!
            p #{messages.info}
      - if (messages.error)
          div(class="alert alert-icon alert-danger alert-dismissible fade in" role="alert")
            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
              span(aria-hidden="true") x
            i(class="mdi mdi-block-error")
            strong ¡Error!
            p #{messages.error}
    
      div.container
        div.row
          div.col-sm-12
            h4(class="m-t-0 header-title") Gatos de Felinorte           
  
        - if(!messages.error)
            div.row
              each cat in cats
                div.col-md-4
                  div(class="text-center card-box")

                    div.clearfix
                      div.member-card
                        - if(cat.adoptable)
                            span(class="user-badge bg-info") Adoptable
                        div(class="thumb-xl member-thumb m-b-10 center-block")
                          img(src=`/img/${cat.nombre}${cat.foto}` class="img-circle img-thumbnail" alt="profile-image" style="width: 100%; height: 100%; display: block;")
                          - if(cat.adoptable)
                              i(class="mdi mdi-information-outline member-star text-muted" title="Disponible")
                          - else
                              i(class="mdi mdi-information member-star text-muted" title="No disponible")
                        div
                          h4.m-b-5 #{cat.nombre}
                          p(class="text-muted") #{ cat.nombre } #[span | ] #{cat.sexo}  
                          button(class="btn btn-default btn-sm m-t-10") Ver gato  
                          
                          - if(cat.adoptable)
                            form(method="post" action=`/adoptar/${cat._id}` style="display: inline;")      #[button(type="submit" class="btn btn-info btn-sm m-t-10") Adoptar]

        div.footer
            div
                <strong>felinorte</strong> - Copyright &copy; 2017