extends ../admin/default

block content
  
  div#page-wrapper
    
    include _topBar
    
    // Page content start
    div.page-contentbar
        
      // left navigation start
      aside.sidebar-navigation
        div.scrollbar-wrapper
          div
            button(type="button" class="button-menu-mobile btn-mobile-view visible-xs visible-sm")
              i(class="mdi mdi-close")
            // User Detail box
            div.user-details
              div.pull-left
                img(src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male-128.png" alt="" class="thumb-md img-circle")
              - if(user.google)
                  div.user-info              
                    a #{user.google.name}
                    p(class="text-muted m-0") #{user.local.userType}
              - else
                  div.user-info              
                    a #{user.local.name} 
                    p(class="text-muted m-0") #{user.local.userType}
            
            // Left Menu Start
            ul(class="metisMenu nav" id="side-menu")
              li
                a(href="/profile") #[i(class="ti-home")] Inicio
              li
                a(href="/profile/update") #[i(class="ti-id-badge")] Actualizar datos
              li
                a(href="/home") #[i(class="ti-layout-list-thumb-alt")] Procesos de adopción  
    
    // START PAGE CONTENT
    div#page-right-content
      - if (messages.info)
          div(class="alert alert-icon alert-success alert-dismissible fade in" role="alert")
            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
              span(aria-hidden="true") x
            i(class="mdi mdi-check-all")
            strong ¡Éxito!
            p #{messages.info}
      - if (messages.error)
          div(class="alert alert-icon alert-danger alert-dismissible fade in" role="alert")
            button(type="button" class="close" data-dismiss="alert" aria-label="Close")
              span(aria-hidden="true") x
            i(class="mdi mdi-block-error")
            strong ¡Error!
            p #{messages.error}
    
      div.container
        div.row
          div.col-sm-12
            h4(class="m-t-0 header-title") Gatos de Felinorte
        
        - if(!messages.error)
            div.row
              each cat in cats
                div.col-md-4
                  div(class="text-center card-box")
                    div(class="dropdown pull-right")
                      a(href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false")
                        h3(class="m-0 text-muted") #[i(class="mdi mdi-dots-horizontal")]

                      ul(class="dropdown-menu" role="menu")
                        li #[a Ver]
                        li #[a Adoptar]

                    div.clearfix
                      div.member-card
                        - if(cat.adoptable)
                            span(class="user-badge bg-warning") Adoptable
                        div(class="thumb-xl member-thumb m-b-10 center-block")
                          img(src="http://r.ddmcdn.com/s_f/o_1/cx_462/cy_245/cw_1349/ch_1349/w_720/APL/uploads/2015/06/caturday-shutterstock_149320799.jpg" class="img-circle img-thumbnail" alt="profile-image")
                          - if(cat.adoptable)
                              i(class="mdi mdi-information-outline member-star text-muted" title="Disponible")
                          - else
                              i(class="mdi mdi-information member-star text-muted" title="No disponible")
                        div
                          h4.m-b-5 #{cat.nombre}
                          p(class="text-muted") #{ cat.nombre } #[span | ] #{cat.sexo}  
        div.footer
            div
                <strong>felinorte</strong> - Copyright &copy; 2017